.container {
  width: 1350px;
  margin: 0;
text-align: center;
}

@media(max-width: 900px) {
  .container {
    width: 100px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 300px;
  }
}
